.button-style {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  display: table-cell;
  width: 490px;
}
.background-color {
  margin-right: 20px;
  background-color: rgb(211, 211, 211);
  max-height: 45px;
  min-height: 45px;
  border-radius: 10px;
}
