<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <h1>{{ headingComponent }}</h1>
    </div>
    <div class="col-4">
      <!-- <mat-form-field appearance="fill" class="background-color">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" [(ngModel)]="fromDate" />
          <input matEndDate placeholder="End date" [(ngModel)]="toDate" />
        </mat-date-range-input>
        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field> -->
    </div>
    <div class="col-3">
      <!-- <button class="background-color" (click)="datePrint()">Submit</button> -->
    </div>
  </div>
  <div class="row">
    <div class="search-hero">
      <input
        class="form-control"
        type="text"
        name="search"
        [(ngModel)]="searchText"
        autocomplete="off"
        placeholder="&#61442;  Start searching for a action description by id or description or date"
      />
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ name }}</th>
          <th>{{ phone }}</th>
          <th>{{ email }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of apiDataName | filter: searchText">
          <td>{{ data.name }}</td>
          <td>{{ data.phone }}</td>
          <td>{{ data.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
